/*******************************************************************************
* Solace cloud title
*/
.image-overlay {
    position: absolute;
    background: #fff;
    z-index: 300;
    height: 100%;
    width: 100%;
    opacity: 0;
    filter: alpha(opacity=0);
}

body {
    font-size: 15px;
    font-weight: 400;
}

#header a, #footer a {
  font-family: 'Open Sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, #top .title_container .main-title, tr.pricing-row td, #top .portfolio-title, .callout .content-area, .avia-big-box .avia-innerbox, .av-special-font, .av-current-sort-title, .html_elegant-blog #top .minor-meta, #av-burger-menu-ul li{
    font-family: sans-serif;
    font-weight: 400;
}

#header_main .container, .main_menu ul:first-child > li a {
    height: 72px;
    line-height: 72px;
}

#header .container, #footer .container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0px 50px;
  clear: both;
}

#footer a {
  font-size: 13px;
}

#footer {
  padding: 0;
  padding-bottom: 20px;
}

strong, b {
  font-weight: 400;
}

#top #s {
  box-sizing: border-box;
}

section#text-2 {
  font-size: 10.4px;
  line-height: 21px;
}

#text-2 a {
  font-size: 10.4px;
}

/* #Icon for search
================================================== */
a { text-decoration: none; outline: 0; max-width:100%; max-width:none\9; }
a:hover, a:focus, a:visited { outline: 0; text-decoration: underline;}
p a, p a:visited { line-height: inherit; }
a.avianolink, .avianolink a{cursor: default;}
#top .avia_hidden_link_text{display: none;}

[data-av_icon]:before {
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
font-weight: normal;
content: attr(data-av_icon);
speak: none;
}
/* ================================================== */
