/* #Reset & Basics (Inspired by E. Meyers)
================================================== */
	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline; }
	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block; }

	body {
		line-height: 1em; }
	.special-quote {
		quotes: none; }
	.special-quote:before, .special-quote:after {
		content: '';
		content: none; }
	table {
		border-collapse: collapse;
		border-spacing: 0; }
    * { -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; }

body {
        background:#F8F8F8;
	font: 13px/1.65em "Open Sans", Helvetica, Arial, sans-serif;
	color: #444;
	-webkit-text-size-adjust: 100%;
 }

.content-box {
	border:1px #c9c9c9 solid;
	border-radius:5px;
	padding:30px;
	background-color:#ffffff;
}


/* #Typography
================================================== */

	/*default*/
	h1, h2, h3, h4, h5, h6 {
		font-weight: 600; }
	#top h1 a, #top h2 a, #top h3 a, #top h4 a, #top h5 a, #top h6 a { font-weight: inherit; text-decoration: none; color: inherit; }
	#top h1 strong, #top h2 strong, #top h3 strong, #top h4 strong, #top h5 strong, #top h6 strong { color: inherit; }
	h1 { font-size: 34px; line-height: 1.1em; margin-bottom: 14px;}
	h2 { font-size: 28px; line-height: 1.1em; margin-bottom: 10px; margin-top:36px; padding-top:12px; border-top:solid 2px #c9c9c9;}
	h3 { width:90%; font-size: 18px; line-height: 1.1em; margin-bottom: 8px; margin-top:30px; padding-top:12px; border-top:solid 1px #dfdfdf;}
	h4 { font-size: 14px; line-height: 1.1em; margin-bottom: 4px; } /*21*/

	p { margin: 0.85em 0; }
	p img { margin: 0; }

	em { font-style: italic; }
	strong, b{ font-weight: bold;  }
	small { font-size: 80%; }

	hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }

 /* Button
================================================== */
 .button {width:150px; padding:10px; background:#005dab; text-align:center; border:1px solid #013a6a; border-radius:4px;}
 .button:hover {background:#013a6a;}
 a.button-text {text-decoration:none; color:#fff;}

/* Github
=================================================*/
.grid{
    position:relative;
}
#forkme-container{   
    padding: 15px 15px 25px 15px;
    margin: 0 auto;
}
#forkme-container-toc{
    padding: 15px;
    margin: 10px 0px 0px -15px;
}
.forkme-banner{
    position: absolute;
    display: block;
    top: 15px;
    right:10px;   
    padding: 10px 12px;
    border: 1px solid #013a6a;
    border-radius: 5px;
    text-decoration: none;
    border-width:1px; 
    border-color:#005eab; 
    border-style:solid;
    font-weight: 500;
    background-color:#dee6ed; 
    width: 22%;  
    vertical-align: baseline;
    overflow:hidden;
    clear:both;
    z-index:10;
}

.forkme-banner-toc {
    float:left;
    display:inline-block;
    top: 15px;
    right:10px;   
    padding: 10px 15px 10px 15px;
    border: 1px solid #013a6a;
    border-radius: 5px;
    text-decoration: none;
    border-width:1px; 
    border-color:#005eab; 
    border-style:solid;
    font-weight: 500;
    color: #3d3d3d;
    background-color:#dee6ed; 
    width: 100%;  
    overflow:hidden;
    clear:both;
    z-index:10;
}
@media screen and (max-width: 650px) {
  .forkme-banner {display:none;}
}    
a{
    color:#005dab;
    border-bottom: #bbb;
    border-width: 0px 0px 0px 0px;
    border-style: none none dotted none; 
}
/* Adds mouse hover effect to the hylerlinked text in the Github banner
================================================*/
.forkme-banner a:link {
    text-decoration: none !important;
    
}
.forkme-banner a:hover {
    color: #F36F23; 
    border-style: none;    
}
.forkme-banner-toc a:link {
    text-decoration: none !important;
    
}
.forkme-banner-toc a:hover {
    color: #F36F23; 
    border-style: none;    
}

.forkme-banner-text{
    position:relative;
    right: 10px;
    width: 78%;    
    padding: 10px 10px 0px 0px;
    clear:both;
}
div.view-sample{
    padding-top: 5px;
}

#post-shortlink{
    float: left; margin-top:12px;  width: 190px; height: 36px;
}

div.download-zip{
    float: left; max-width: 100%; display:inline-block; padding-top: 5px; padding-bottom: 10px;
}
.download-zip img{
    vertical-align:-15%;
}
img.fork-img{
    max-width: 100%; 
    height: auto;
    text-align: center;
    display: block;
   margin-left: auto;
   margin-right: auto;
}
.fork-icon, .view-sample img{
    vertical-align:-15%;
}
input:focus{
    outline: none;
    border-color: #e1e1e1; 
    background-color: #d4d4d4;
    color: #3d3d3d;
    box-shadow: 0px 2px 10px #d4d4d4;
}

/* Github banner clipboard 
===================*/

input[type="text"]{
    margin-top:5px;  
    border-color: #d4d4d4; 
    padding: 8px 6px; 
    border-radius: 1px; 
    border: 1px solid #e1e1e1; 
    background-color: #d4d4d4;
    box-sizing: border-box;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    cursor: auto;
    -webkit-appearance: none; 
    margin-bottom: 10px;
    text-rendering: auto;
    display: block;
}
.btn{
    margin-top:11px;  
    cursor: pointer; 
    float: left;  
    height: 36px !important; 
    width: 34px !important; 
}

.btn:hover {box-shadow: 0 0 2px 1px rgba(61, 61, 61, 0.5);}

.btn:active {
  background-color: #d4d4d4;
  box-shadow: 0 1px #666;
  transform: translateY(2px);
}

/* Github samples download button
================================================*/
.btn-download {
    display: block;
    background:#005dab ;
    width: 225px; 
    height: 35px;
    border-radius: 3px;
    border: 1px solid #013a6a !important;
    -webkit-border-radius: 1;
    -moz-border-radius: 1;
    color: #ffffff !important;
    padding:  5px;
    text-align: center;
    text-decoration: none; 
    margin-left: 0px;
    margin-top: 5px;
}   

.btn-download:hover {
    background-color: #013a6a; 
    border-style: none;    
}
 /* Table
================================================== */
table {
	width: 100%;
	padding: 0;
	margin: 0 0 20px 0;
	font-size: 13px;
}

table caption {
	padding: 0 0 5px 0;
	width: auto;
	font-style:italic;
	text-align: right;
	font-size: 12px;
}

th {
	font-weight:bold;
	text-align: left;
	padding: 9px 12px;
	border-style: solid;
	border-width: 1px;
	border-left:none;
	border-top:none;
}

td {
	font-size: 13px;
	padding: 9px 12px;
	border-style: solid;
	border-width: 1px;
	border-left:none;
	border-top:none;
}

tr th:first-child, tr td:first-child{
	border-left-style: solid;
	border-left-width: 1px;
}

tr:first-child th, tr:first-child td{
	border-top-style: solid;
	border-top-width: 1px;
}

#top th.nobg {
	background: none;
	border-top: 0;
}

/* Lists
================================================== */
	ul, ol {margin-bottom: 20px;  }
	ul {margin-left: 30px;}
	ol {list-style: decimal; margin-left: 30px; }
	ul ul, ul ol,
	ol ol, ol ul {margin: 4px 0 5px 30px;  }
	ul ul li, ul ol li,
	ol ol li, ol ul li {margin-bottom: 6px; }

/* Sidebar Nav
================================================== */
h4.navheading {
	text-transform: uppercase;
    padding: 0 0 10px 20px;
    margin-left: -20px;
    display: inline-block;
    border-bottom: 1px #c9c9c9 solid;
}

h4.navheading a {color:#003b74; text-decoration: none;}
ul.navlist {list-style: none; margin-left: 0px;}
li.navlink a {color:#003b74; text-decoration:none;}
li.navlink a:hover {font-weight:700;}
li.navlink_current {list-style-image: url('../images/common/indicator-arrow.png') !important;}
li.navlink_current a {color:#003b74; text-decoration:none; font-weight:700;}

/* Landing Page Headings
================================================== */
h2.nolineheading { margin-top:0; padding-top:0; border-top:none; }
h3.nolineheading { margin-top:0; padding-top:0; border-top:none;}


/**
 * Code formatting
 */
pre,
code {
  font-size: 12px;
  font-family: Monaco, "Andale Mono", "Courier New", Courier, monospace;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlighter-rouge .highlight {
    background: #eef; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }
